<kendo-grid [data]="userData" [pageSize]="10" [pageable]="true" [filter]="filter" (filterChange)="filterChange($event)"
    [sortable]="true" [filterable]="true" [groupable]="true" [height]="420">
    <kendo-grid-column field="id" title="ID"> </kendo-grid-column>
    <kendo-grid-column field="name" title="Name"> </kendo-grid-column>
    <kendo-grid-column field="username" title="Uname">
    </kendo-grid-column>
    <kendo-grid-column field="email" title="email"> </kendo-grid-column>
</kendo-grid>