<div class="container">
    <div class="row">
        <div class="col-4 border border-primary">stream :
            <ul>
                <li *ngFor="let i of user"> {{i}} </li>
            </ul>


        </div>
        <div class="col-4 border border-primary">stream :
            <ul>
                <li *ngFor="let i of user1"> {{i}} </li>
            </ul>
        </div>
        <div class="col-4 border border-primary">stream :</div>
    </div>

    <br>
    <div class="row-4 justify-content-center border border-primary">final concatination</div>
</div>