<kendo-tilelayout [columns]="4" [rowHeight]="255" [resizable]="true" [reorderable]="true">
    <kendo-tilelayout-item title="Page Views" [col]="1" [colSpan]="3">
        <kendo-tilelayout-item-body>
            <!-- <app-dr></app-dr> -->
            <h1></h1>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Page Views" [col]="4">
        <kendo-tilelayout-item-body>
            <app-stepper></app-stepper>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Page Views" [col]="1" [colSpan]="2">
        <kendo-tilelayout-item-body>
            <app-layout></app-layout>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Page Views" [col]="3">
        <kendo-tilelayout-item-body>
            <app-formfields></app-formfields>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Page Views" [col]="4" [rowSpan]="2">
        <kendo-tilelayout-item-body>
            <app-formfields></app-formfields>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item title="Page Views" [col]="1" [colSpan]="3">
        <kendo-tilelayout-item-body>
            <app-formfields></app-formfields>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>



</kendo-tilelayout>
<h1>hello</h1>